body{
  background-color: #3DB2A1;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', 'Yanone Kaffeesatz', 'Kreon', 'Oranienbaum', sans-serif;
}

#basic-intro{
  font-size:2em;
  margin-left: 5em;
}

#social-container{
  width:100%;
  background-color:gray;
  bottom:0;
  position:absolute;
}

#social-container ul{
  text-align:center;
  margin-left:-1%;
  padding-left:0;
}


#social-container ul li{
  display:inline;
}

#social-container ul li a img{
  background-color:transparent;
  border-radius:50%;
  background-size:5%;
}

#social-container ul li a img:hover
{
  background-color:blue;
  border-radius:50%;
  background-size:5%;
  transition:1.25s;
}


div h4 section ul li{
  position:relative;
  display:inline-block;
  list-style:none;
  text-align:center;
  display:inline-block;
  color:#fff;

}

.nav{
  font-family: 'Merriweather', 'Yanone Kaffeesatz', 'Kreon', 'Oranienbaum', sans-serif;
  font-size:1.5em;
  z-index:-3;
  width:auto;
}

.nav ul{
  margin-left:-1%;
  padding-left:0;
  text-align:center;
  position:relative;
}

.nav ul li{
  list-style:none;
  border:3px solid #fff;
  border-radius:15px;
  width:10%;
  padding:.40%;
  margin:.3em;
  text-align:center;
  display:inline-block;
  color:#fff;
}

.nav ul li:hover{
  background: #618e79;
  color:#fff;
  transition:0.65s;
}

.nav ul li a{
  width:100%;
  text-decoration:none;
  color: #fff;
}

.nav ul li a:hover{
  color: #fff;
}


.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.inner-container {
  display:flex
  flex-dreiction: column;
}

.about_p {
  font-family: 'Merriweather', 'Yanone Kaffeesatz', 'Kreon', 'Oranienbaum', sans-serif;
  padding-left: 50px;
}

.about_picture {
  border-radius: 05%;
  padding-top: 50px;
  padding-bottom: 50px;
  height:18em;

}

.about-header {
  font-family: 'Merriweather', 'Yanone Kaffeesatz', 'Kreon', 'Oranienbaum', sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom:10px;
  font-size:250%;
}


